[Unit]
Description=Music transcoder

[Service]
Environment="PYTHONUNBUFFERED=1"
ExecStart=%h/scripts/music_transcode.py

[Install]
WantedBy=default.target
