[submodule "home/zsh/zsh-history-substring-search"]
	path = home/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "home/scripts/unisearch"]
	path = home/scripts/unisearch
	url = https://github.com/udf/unisearch
[submodule "home/.config/slop/slop-guides"]
	path = home/.config/slop/slop-guides
	url = git@github.com:udf/slop-guides.git
