[submodule "home/zsh/zsh-history-substring-search"]
	path = home/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "home/scripts/unisearch"]
	path = home/scripts/unisearch
	url = https://github.com/udf/unisearch
[submodule "home/.config/slop/slop-guides"]
	path = home/.config/slop/slop-guides
	url = git@github.com:udf/slop-guides.git
[submodule "home/.config/kak/plugins/plug.kak"]
	path = home/.config/kak/plugins/plug.kak
	url = git@github.com:andreyorst/plug.kak.git
[submodule "home/.config/polybar/playerctlctl"]
	path = home/.config/polybar/playerctlctl
	url = git@github.com:udf/playerctlctl.git
[submodule "fast-syntax-highlighting"]
	path = home/zsh/fast-syntax-highlighting
	url = git@github.com:zdharma/fast-syntax-highlighting.git
