! Colours
URxvt*background: [85]#12171a
URxvt*colorUL: #86a2b0
URxvt*scrollColor: #35434d
! special
*.foreground:   #dce0dd
*.background:   #12171a
*.cursorColor:  #c5c8c6
! black
*.color0:       #3e4147
*.color8:       #626873
! red
*.color1:       #a54242
*.color9:       #cc6666
! green
*.color2:       #6c9440
*.color10:      #92bd68
! yellow
*.color3:       #decc5f
*.color11:      #f0de74
! blue
*.color4:       #5f819d
*.color12:      #81a2be
! magenta
*.color5:       #ba70aa
*.color13:      #ba8baf
! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7
! white
*.color7:       #d4d7d9
*.color15:      #faffff
! base16 extra colors
*color16: #ae81ff
*color17: #ff8d5c
! base16 extra gray shades
*color18: [85]#1a2026
*color19: #35434d
*color20: #9faab3
*color21: #dae0e6


! X settings
Xcursor.size: 16
Xft.antialias: 1
Xft.hinting: 0
Xft.hintstyle: hintslight
Xft.rgba: none
Xft.lcdfilter: none


! URxvt options
URxvt*termName: xterm-256color
URxvt*font: xft:Hack:pixelsize=12:antialias=true:hinting=true
URxvt*boldFont: xft:Hack:bold:pixelsize=12:antialias=true:hinting=true
URxvt.letterSpace: true 
URxvt.depth: 32
URxvt*cursorBlink: true

! scrolling
URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt*thickness: 5
URxvt*scrollstyle: plain
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 10000
URxvt*scrollTtyOutput: false

! Normal copy-paste keybindings without perls
URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! perl extensions
URxvt.perl-ext: default,url-select,keyboard-select

! url-select
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.launcher:  xdg-open
URxvt.url-select.underline: true

! keyboard-select
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! escape codes
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-BackSpace: \033[1;5E

! Keyboard scrolling
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
