! Colours
#define bg_trans 80
! special
#define colour_ul #86a2b0
#define colour_cur #c5c8c6
#define colour_bg #12171a
#define colour_bg_alt #171c21
#define colour_fg #cccccc
! black
#define colour_0  #2d2f33
#define colour_8  #626873
! red
#define colour_1  #a54242
#define colour_9  #cc6666
! green
#define colour_2  #6c9440
#define colour_10 #92bd68
! yellow
#define colour_3  #decc5f
#define colour_11 #f0de74
! blue
#define colour_4  #5f819d
#define colour_12 #81a2be
! magenta
#define colour_5  #ba70aa
#define colour_13 #ba8baf
! cyan
#define colour_6  #5e8d87
#define colour_14 #8abeb7
! white
#define colour_7  #d4d7d9
#define colour_15 #faffff
! base16 extra
#define colour_16 #ae81ff
#define colour_17 #ff8d5c
! base16 extra greys
#define colour_18 [bg_trans]#1a2026
#define colour_19 #35434d
#define colour_20 #9faab3
#define colour_21 #dae0e6


*.foreground: colour_fg
*.background: colour_bg
*.cursorColor: colour_cur
*.color0: colour_0
*.color8: colour_8
*.color1: colour_1
*.color9: colour_9
*.color2: colour_2
*.color10: colour_10
*.color3: colour_3
*.color11: colour_11
*.color4: colour_4
*.color12: colour_12
*.color5: colour_5
*.color13: colour_13
*.color6: colour_6
*.color14: colour_14
*.color7: colour_7
*.color15: colour_15
*color16: colour_16
*color17: colour_17
*color18: colour_18
*color19: colour_19
*color20: colour_20
*color21: colour_21


! X settings
Xcursor.size: 16
Xft.antialias: 1
Xft.hinting: 0
Xft.hintstyle: hintslight
Xft.rgba: none
Xft.lcdfilter: none


! rofi
! Colours
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: colour_bg, #A8A8A8, #A8A8A8
!                  bg         fg         bg-alt       hl-bg      hl-fg
rofi.color-normal: colour_bg, colour_fg, colour_bg_alt, colour_fg, colour_bg
rofi.color-active: colour_bg, colour_fg, colour_bg_alt, colour_fg, colour_bg
rofi.color-urgent: colour_bg, colour_fg, colour_bg_alt, colour_fg, colour_bg

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.font: Hack Regular 12
rofi.bw: 0
rofi.padding: 5
rofi.fixed-num-lines: true


! URxvt options
URxvt*background: [bg_trans]colour_bg
URxvt*colorUL: colour_ul
URxvt*scrollColor: colour_19

URxvt*termName: xterm-256color
URxvt*font: xft:Hack Nerd Font:pixelsize=12:antialias=true:hinting=true,xft:DejaVu Sans
URxvt*boldFont: xft:Hack Nerd Font:bold:pixelsize=12:antialias=true:hinting=true
URxvt.letterSpace: true
URxvt.depth: 32
URxvt*cursorBlink: true

! scrolling
URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt*thickness: 5
URxvt*scrollstyle: plain
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 10000
URxvt*scrollTtyOutput: false

! Normal copy-paste keybindings without perls
URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! perl extensions
URxvt.perl-ext: default,selection-to-clipboard,url-select,keyboard-select

! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.launcher: xdg-open
URxvt.url-select.underline: true

! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

! escape codes
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-BackSpace: \033[1;5E

! Keyboard scrolling
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
