SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="08:00:27:bd:dc:a7", NAME="net0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:06:4f:7f:a0:9b", NAME="net0"
